<div class="contacts vcentered">
    <a href="mailto:giermann@yandex.ru" class="link">giermann@yandex.ru</a>
    <br>
    <a href="mailto:ds-art-part@yandex.ru" class="link">ds-art-part@yandex.ru</a>
</div>