<div class="vcentered">
    <%= link_to portfolio_path do %>
      <% @img_slides.each do |slide| %>
        <div id="<%= slide.name %>" style="display:none;">
          <%= image_tag slide.source.url, :alt => slide.alt %>
        </div>
      <% end %>
    <% end %>
</div>

<script type="text/javascript">

function fadeElem(elems, index) {
  var elem = $('#' + elems[index].id);
  elem.fadeIn(400, function () {
    setTimeout(function () { elem.fadeOut(400, function () {
      fadeElem(elems, (index + 1) % elems.length);
    }); }, 5000)
  });
}

fadeElem($('.content > .vcentered > a > div'), 0);

</script>