<div class="vcentered covers">
  <div>
    <div id="left_slide">
      <div></div>
    </div>
    <div id="right_slide">
      <div></div>
    </div>
    <div>
      <% @img_slides.each do |slide| %>
        <% href = slide.href || galleries_path %>
        <%= link_to href do %>
          <div id="<%= slide.name %>" style="display:none;" class="cover">
            <%= image_tag slide.source.url, :alt => slide.alt, :title => slide.alt %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

fadeElem( $('.cover'), 0 );

</script>