body {
    background: url('backtile.png') repeat-x;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.ttf');
}

.container {
	text-align: center;
    font-family: 'Century Gothic', 'Georgia', serif;
}

#logo {
    margin-top: 20px;
}

header {

}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li, .contacts {
    font-size: 16px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 40px 3em 20px 3em;
}

nav sup {
    color: red;
    font-weight: bold;
}

.link:link, .link:visited, .link:active, .link:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

hr {
    margin: 0;
}

hr, .container, .content {
    width: 849px;
}

hr {
    height: 2px;
    background: black;
}

.content {
    height: 400px;
    display: table;
}

.disabled-link:link, .disabled-link:visited, .disabled-link:active, .disabled-link:hover {
    color: gray;
    cursor:default;
}

#copyright {
    margin-bottom: 1em;
    margin-top: 1em;
}

.content .vcentered {
    display: table-cell;
    vertical-align: middle;
}

.vcentered img {
    display: inherit;
}

.contacts {
    line-height: 4em;
    text-align: center;
}