<hr>

<footer>
  <div class="social">
    <ul>
      <li><a href="#">
        <div style="background-position-x:0px"></div>
      </a></li>
      <li><a href="#">
        <div style="background-position-x:25px"></div>
      </a></li>
      <li><a href="#">
        <div style="background-position-x:50px"></div>
      </a></li>
      <li><a href="#">
        <div style="background-position-x:75px"></div>
      </a></li>
    </ul>
  </div>
  <div id="copyright">
    &copy; 2012 All rights reserved. Site designed by Teoretical Part.
  </div>
</footer>